{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Procesador
{% endblock titulo %}

{% block cabecera %}
    PROCESADORES
{% endblock cabecera %}


{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
    
    {% for procesador in procesador %}
    <tr>
        <td>{{procesador.id}}</td>
        <td>{{procesador.marca}}</td>
        <td>{{procesador.modelo}}</td>
    </tr>
{% endfor %}

    
    </tbody>
</table>

{% endblock contenido %}