<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }
        .left-align {
            text-align: left;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Monitores por marca {{ marca }}</h2>
    <table class="table">                   
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tamaño</th>
            </tr>
        </thead>
        <tbody>
        
        {% for monitor in monitor %}
        <tr>
            <td>{{monitor.id}}</td>
            <td>{{monitor.marca}}</td>
            <td>{{monitor.modelo}}</td>
            <td>{{monitor.tamaño}}</td>
        </tr>
        {% endfor %}       
        </tbody>
    </table>
    
</body>
</html>