{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Usuario
{% endblock titulo %}

{% block cabecera %}
    BIENVENIDO
{% endblock cabecera %}


{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    
    {% for usuarios in usuarios %}
    <tr>
        <td>{{usuarios.id}}</td>
        <td>{{usuarios.nombre}}</td>
        <td>{{usuarios.apellido}}</td>
        <td>{{usuarios.email}}</td>
    </tr>
{% endfor %}

    
    </tbody>
</table>

{% endblock contenido %}